.App {
  text-align: center;
  text-decoration:underline rgba(92, 76, 58, 0.817);

 
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgba(15, 57, 94, 0.703) 0%,
    rgba(0, 192, 250, 0.874) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}



.App input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(223, 81, 245, 0.539);
  outline: none;
  фон : прозрачный ;
}


.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 12, 190, 0.596) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
  background-color: #ce4ad5;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 20px;
  position: relative;
  left: -5px;
  bottom: 4px;
 
}

.strike {
  text-decoration: line-through;
}
